ul li {
  list-style: none;
}

ul {
  padding: 0;
}

input {
  display: block;
  width: 100%;
  height: 20px;
  margin: 20px 0;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 4s;
  margin: 2px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  height: 0;
  overflow: hidden;
}

.active {
  height: auto;
}

.App .container {
  margin: 0 100px;
}

p {
  display: inline-block;
}

.ingredients {
  width: 30%;
}

.method {
  width: 60%;
  float: right;
}
